<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: nav"></div>
    <body>
        <div class="container">
            <div th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                <a href="/alimentos/crear" class="text-white btn btn-success">
                        <i data-feather="plus"></i>
                </a>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" scope="col"> # </th>
                        <th class="text-center" scope="col"> Nombre </th>
                        <th class="text-center" scope="col"> Precio </th>
                        <th class="text-center" scope="col"> Descripción </th>
                        <th th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}"
                            class="text-center" scope="col" colspan="2"> Opciones </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr th:each="alimento: ${alimentos}">
                        <th scope="row" th:text="${alimento.id}" />
                        <td th:text="${alimento.nombre}" />
                        <td th:text="${alimento.precio}" />
                        <td th:text="${alimento.descripcion}" />
                        <td th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                            <a type="button" class="btn btn-outline-info"
                                    th:href="@{/alimentos/actualizar/{id}(id=${alimento.id})}">
                                Actualizar
                            </a>
                        </td>
                        <td th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                            <form th:action="@{/alimentos/eliminar(id=${alimento.getId()})}" method="post">
                                <button type="submit" class="btn btn-outline-danger">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <div th:replace="fragments :: bootstrap-js"></div>
</html>
