<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: nav"></div>
    <body>
        <div class="container">
            <div class="row py-5">
                <div class="col-9">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col"> Nombre </th>
                                <th class="text-center" scope="col"> Precio </th>
                                <th class="text-center" scope="col"> Descripción </th>
                                <th th:if="${usuario.getRole().getName() == 'ROLE_CLIENTE'}"
                                    class="text-center" scope="col"> Pedir
                                </th>
                                <th th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}"
                                    class="text-center" scope="col" colspan="2"> Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr th:each="alimento: ${alimentos}">
                                <td th:text="${alimento.nombre}" />
                                <td th:text="${alimento.precio}" />
                                <td th:text="${alimento.descripcion}" />
                                <td th:if="${usuario.getRole().getName() == 'ROLE_CLIENTE'}">
                                    <button class="order text-white btn btn-success"
                                        th:attr="data-id=${alimento.id}, data-toReq=true, data-name=${alimento.nombre}">
                                        <i class="show" data-feather="plus-square"></i>
                                    </button>
                                </td>
                                <td th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                                    <a type="button" class="btn btn-info"
                                            th:href="@{/alimentos/actualizar/{id}(id=${alimento.id})}">
                                        Actualizar
                                    </a>
                                </td>
                                <td th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                                    <form th:action="@{/alimentos/eliminar(id=${alimento.getId()})}" method="post">
                                        <button type="submit" class="btn btn-danger">
                                            Eliminar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <div th:if="${usuario.getRole().getName() == 'ROLE_ADMINISTRADOR'}">
                        <a href="/alimentos/crear" class="text-white btn btn-success">
                            Crear alimento <i data-feather="plus"></i>
                        </a>
                    </div>
                    <div th:if="${usuario.getRole().getName() == 'ROLE_CLIENTE'}">
                        <h1> Carrito </h1>
                        <p class="font-weight-light" id="foodMsg">
                            ¡Agrega alimentos al carrito!
                        </p>
                        <ul id="carrito"> </ul>
                        <a hidden id="order" type="button" class="btn btn-info">
                            Agregar al carrito
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <div th:replace="fragments :: bootstrap-js"></div>
    <script type="text/javascript">
        var ids = [];

        function toggleFood(id, name) {
            if (ids.includes(id)) {
                const index = ids.indexOf(id);
                if (index > -1)
                    ids.splice(index, 1);

                var element;
                $("ul li").each(function(li) {
                    if ($(this).attr("data-id") == id)
                        element = $(this);
                });
                element.remove();
                if (ids.length == 0) {
                    $("#order").prop("hidden", true);
                    $("#foodMsg").prop("hidden", false);
                }
            }
            else {
                $("#carrito").append(
                    "<li data-id=" + id + ">" + name + "</li>"
                );
                ids.push(id);
                $("#order").prop("hidden", false);
                $("#foodMsg").prop("hidden", true);
            }
        }

        $(".order").on( "click", function(event) {
            var id = $(this).attr("data-id");
            var name = $(this).attr("data-name");

            $("#order").prop("hidden", false);
            if ($(this).attr("data-toReq") == "true") {
                $(this).html("<i data-feather='minus-square'></i>");
                $(this).attr("data-toReq", "false")
            }
            else {
                $(this).html("<i data-feather='plus-square'></i>");
                $(this).attr("data-toReq", "true")
            }

            $(this).toggleClass("btn-success").toggleClass("btn-danger");
            feather.replace();

            toggleFood(id, name);
            console.log(ids);
        });
        $("#order").on( "click", function( event ) {
            $.ajax({
                type: "POST",
                contentType : 'application/json; charset=utf-8',
                dataType : 'json',
                url: "/orden/crear",
                data: JSON.stringify(ids),
            })
              .done(function(msg) {
                 console.log(msg);
              });
        });
    </script>
</html>
